
h2{
    text-align: center;
    color: black;
}
.topnav {
    /* text-align: left; */
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    /* text-align: center; */
    /* float: right; */
    padding: 0px;
    border: none;
    margin-top: 0px;
    margin-right: 16px;
    font-size: 17px;
  } */
  
form {
    width:600px;
    margin:50px auto;
}
.search {
    text-align: center;
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
img{
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: black;
  border-width: 2px;
  border-color: black;
  border: 5px solid #555;
}
p{
  margin-top: 0px;
  text-align: center;
} 
